.report-filters {
	padding: 0.59375rem 0;

	.btn-group-item {
		margin-right: 8px;
		margin-bottom: 8px;
	}

	.report-filters__icon {
		margin-right: 8px;
	}

	input, 
	button,
	.input-group-inset-item {
		background: #fff;
	}
}