.report-config {
    .custom-control-input:checked ~ .custom-control-label:before {
        border-color: #282c34 !important;
        background-color:#282c34 !important;
        color: #fff;
    }

    .report-config__checkbox {
        border-top: 1px solid #e7e7ed;
        padding-top: 8px;
    }
}
